<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>login</title>
    <link rel="stylesheet" href="{{ url_for('static',filename = 'style.css') }}">
<body>
<form method="post" class="forming">
    <input type="text" name="username" required placeholder="username">
    <input type="text" name ='password' required placeholder="login password">
    <button>sumbit</button>
</form>
    <a href="/register">registration</a>
</body>
</html>